.Dropdown {
  position: absolute;
  top: 28px;

  background: white;
  width: 120px;

  margin: 0;
  padding: 0;

  list-style: none;
  text-align: start;
}

.DropdownClicked {
  display: none;
}

.Nav_link {
  display: block;
  padding: 8px 10px;
  margin: 0 auto;
  text-decoration: none;

  font-size: 12px;
  color: #565673;
  letter-spacing: 1.2px;
}

.Nav_link:hover {
  color: #5f9ea0;
}
