.Dropdown {
  position: absolute;
  top: 9rem;
  left: 0rem;

  padding-top: 1rem;
  margin: 0;
  list-style: none;
  z-index: 3;
  background-color: var(--clr--dropdown);
  box-shadow: 8px 8px 6px -6px var(--clr-font-primary);
}
.Nav {
  padding: 0.5rem;
}
.Nav_link {
  display: block;
  font-size: 1rem;
  padding-bottom: 1em;
  color: var(--clr-font-secondary);
  text-decoration: none;
  margin: 0;
  text-align: center;
}
.Nav_link a {
  cursor: pointer;
}
.Nav_link:hover,
.Nav_link:focus {
  color: var(--clr-font-thirdly);
}
.DropdownClicked {
  display: none;
}

@media (min-width: 570px) {
}

@media (min-width: 810px) {
  .Dropdown {
    top: 1.8rem;
    left: 12rem;
    padding: 1rem 0;
  }
}
