.Output {
  height: 60px;
  font-size: 0.8rem;
}
.Error {
  color: #ff4a4a;
}

.Form {
  margin: 10px auto;
  text-align: center;
}

.Label {
  display: block;
  width: 30px;
  height: 30px;
  margin: 10px auto;
  line-height: 60px;
  color: #efb6b2;
  font-weight: bold;
  font-size: 24px;
}

.Label input {
  height: 0;
  width: 0;
  opacity: 0;
}

.Label:hover {
  color: white;
}

@media (max-width: 768px) {
  .Output {
    height: 30px;
  }

  .Label {
    margin: 0 auto;
  }
}
