.Post {
  width: 95%;
  padding: 0;
  margin: 1rem auto;
  font-family: "Open Sans Condensed", sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Main {
  background: #fff;
  padding: 1rem 0;
}

.Section {
  margin: 1em 0;
}

.Title {
  text-align: center;
  font-size: 1.2rem;
}

.Content {
  font-size: 1rem;
  margin: 0 1em;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
}
.Img {
  display: block;
  width: 100%;
  padding: 0.5rem;
}

@media (min-width: 570px) {
  .Post {
    flex-direction: row;
  }
  .Main {
    background: #fff;
    width: 72%;
    padding: 2rem;
  }

  .Title {
    text-align: center;
    font-size: 1.5rem;
  }

  .Side {
    width: 25%;
  }
  .Content {
    font-size: 1.2rem;
    margin: 0 1em;
    line-height: 2rem;
  }
}
