.Post {
  width: 95%;
  padding: 0;
  margin: 1rem auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Main {
  background: var(--clr-bcg-primary);
}

.Section {
  margin: 1em 0;
}

.Title {
  font-size: 1.4rem;
  padding: 1em 0;
  text-align: center;
}

.Subtitle {
  font-size: 1.3rem;
  padding: 1em 0;
  font-weight: 600;
  text-align: center;
}
.Content p {
  font-size: 1.2rem;
  margin: 0 1em;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
  padding: 1rem 0;
}

.Img {
  display: block;
  width: 100%;
  padding: 0.5rem;
}

@media (min-width: 570px) {
  .Post {
    flex-direction: row;
  }
  .Main {
    background: var(--clr-bcg-primary);
    width: 72%;
    padding: 2rem;
  }

  .Title {
    font-size: 1.5rem;
  }

  .Subtitle {
    font-size: 1.5rem;
  }
  .Content p {
    font-size: 1.3rem;
  }

  .Side {
    width: 25%;
  }
  .Content {
    font-size: 1.2rem;
    margin: 0 1em;
    line-height: 2rem;
  }
}
