.Article {
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 0.1rem solid #f0f0f0;
  font-family: "Open Sans Condensed", sans-serif;
}

.ArticleMain {
  width: 100%;
}
.Title {
  text-align: center;
  font-size: 1.3rem;
}

.ArticleMain p {
  font-size: 1rem;
}

.ArticleSecondary {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;

  padding: 1em;

  position: relative;
}

.ArticleImage {
  display: block;
  opacity: 0.8;
  max-height: 9.5rem;
  max-width: 100%;
  z-index: 0;
}

.ArticleSecondary:hover .ArticleImage {
  display: block;
  opacity: 0.3;
  max-height: 9.5rem;
  max-width: 100%;
}

.Button {
  position: absolute;
  top: 50%;

  display: flex;
  width: 100%;
  justify-content: space-evenly;

  opacity: 0;
}

.ArticleSecondary:hover .Button {
  opacity: 1;
}

.ArticleSecondary p {
  font-size: 0.6rem;
  margin-top: 1rem;
}

.Text {
  font-size: 0.8rem;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 10%;
  letter-spacing: 1px;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
  background-color: rgb(10, 186, 181, 0.8);
}
.Text:focus,
.Text:hover {
  outline: 0;
  box-shadow: none;
  color: #fff;
}

.ArticleImage:hover + .Button {
  visibility: visible;
}

@media (min-width: 570px) {
  .Article {
    padding: 2.5rem;
  }

  .ArticleMain strong {
    font-size: 1.6rem;
  }

  .ArticleMain p {
    font-size: 1.1rem;
  }

  .ArticleSecondary {
    width: 70%;
  }

  .ArticleSecondary p {
    font-size: 1rem;
  }
  .ArticleImage {
    max-height: 10rem;
  }
}

@media (min-width: 810px) {
  .Title {
    text-align: center;
    font-size: 2rem;
  }

  .ArticleSecondary {
    width: 60%;
  }
  .Text {
    font-size: 1rem;
  }
}
