.Burger {
  width: 100%;
  height: 250px;
  margin: auto;
  overflow: scroll;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}
@media (min-width: 700px) and (min-height: 600px) {
  .Burger {
    width: 600px;
    height: 500px;
  }
}
@media (min-width: 550px) and (min-height: 500px) {
  .Burger {
    width: 450px;
    height: 400px;
  }
}
