.Card {
  position: relative;
  background-color: #fff;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
}

.Logo {
  display: "inline-block";
  font-family: "Josefin Slab", serif;
  font-family: "Exo", sans-serif;
  color: #50506b;
  font-size: 1.5rem;
  padding: 2em;

  text-align: center;
}

.Logo span {
  font-size: 1.5rem;
}
.Nav {
  display: none;
}

.Nav_2 {
  position: absolute;
  bottom: -16rem;
  left: 0;
  background-color: #f8ea8c;
  padding: 1rem;
  z-index: 3;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
}
.Nav_link_2 {
  display: flex;
  flex-direction: column;
  text-align: center;

  font-size: 1.5rem;
  padding-bottom: 0.5em;
  text-decoration: none;
  color: #50506b;
  letter-spacing: 1px;
  text-decoration: none;
}

.Nav_link_2:hover,
.Nav_link_2:focus {
  color: rgb(10, 186, 181, 0.7);
}

.Button {
  display: block;
  padding: 0.5rem;
  color: black;
  border: transparent;

  position: absolute;
  left: 0;
  bottom: 0;
}
.Button:hover,
.Button:focus {
  color: rgb(10, 186, 181, 0.5);
  outline: none;
}

.Search {
  display: flex;
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-size: 1rem;
  margin: 0 0.5em;
}

.SearchInput {
  border: 0;
}

.SearchInput:focus {
  outline: none;
}

@media (min-width: 570px) {
  .Nav {
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    margin: 0 1em;
    z-index: 3;
    background-color: #fff;
  }

  .Nav_link {
    display: inline-block;
    text-decoration: none;
    padding: 0 0.5em;
    font-size: 1.5rem;
    color: #50506b;
    letter-spacing: 2px;
  }

  .Nav_link:hover,
  .Nav_link:focus {
    color: rgb(10, 186, 181, 0.5);
  }

  .Button {
    display: none;
  }
  .Nav_2 {
    display: none;
  }
}

@media (min-width: 810px) {
  .Logo {
    padding: 4em;
    font-size: 2rem;
  }
  .Logo span {
    font-size: 2rem;
  }

  .Nav_2 {
    display: none;
  }

  .Nav_link_2 {
    display: none;
  }

  .Button {
    display: none;
  }

  .Search {
    font-size: 1.5rem;
  }
}
