.Card {
  position: relative;
  background-color: var(--clr-bcg-primary);
  box-shadow: 0 8px 6px -6px var(--clr-font-primary);
  height: 500px;

  margin-top: 3.5rem;
}

.Logo {
  display: "inline-block";
  font-family: "Josefin Slab", serif;
  font-family: "Exo", sans-serif;
  color: var(--clr-font-secondary);
  font-size: 1.5rem;
  padding: 5em 1em;

  text-align: center;
}

.Logo span {
  font-size: 1.5rem;
}
.Nav {
  display: none;
}

.Nav_2 {
  position: absolute;
  bottom: -11rem;
  left: 0;
  background-color: var(--clr--dropdown);
  padding: 1rem;
  z-index: 3;

  box-shadow: 8px 8px 6px -6px var(--clr-font-primary);
}
.Nav_link_2 {
  display: flex;
  flex-direction: column;
  text-align: center;

  font-size: 1rem;
  padding-bottom: 1em;
  text-decoration: none;
  color: var(--clr-font-secondary);
  letter-spacing: 1px;
  text-decoration: none;
}

.Nav_link_2:hover,
.Nav_link_2:focus {
  color: var(--clr-font-thirdly);
}

.Button {
  display: block;
  padding: 1rem;
  color: var(--clr-font-primary);
  border: transparent;
  background-color: var(--clr-font-thirdly);

  position: absolute;
  left: 0;
  bottom: 0;
}
.Button:hover,
.Button:focus {
  color: var(--clr-font-thirdly);
  outline: none;
}

.Search {
  display: flex;
  position: absolute;
  right: 0px;
  bottom: 0.2em;
  font-size: 1rem;
  margin: 0 0.5em;
}

.SearchInput {
  border: 0;
}

.SearchInput:focus {
  outline: none;
}

.Icon {
  position: absolute;
  left: 40%;
  bottom: 50%;

  font-size: 2rem;
  color: var(--clr-font-thirdly);
  -webkit-animation: bounce 0.3s infinite alternate;
  -moz-animation: bounce 0.3s infinite alternate;
  animation: bounce 1s infinite alternate;
}

@-webkit-keyframes bounce {
  to {
    -webkit-transform: scale(1.2);
  }
}
@-moz-keyframes bounce {
  to {
    -moz-transform: scale(1.2);
  }
}
@keyframes bounce {
  to {
    transform: scale(1.2);
  }
}

@media (min-width: 570px) {
  .Card {
    height: 200px;
  }
  .Logo {
    padding: 2em;
  }
  .Nav {
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    margin: 0 1em;
    z-index: 3;
    background-color: var(--clr-bcg-primary);
  }

  .Nav_link {
    display: inline-block;
    text-decoration: none;
    padding: 0 0.5em;
    font-size: 1.5rem;
    color: var(--clr-font-secondary);
    letter-spacing: 2px;
  }

  .Nav_link:hover,
  .Nav_link:focus {
    color: var(--clr-font-thirdly);
  }

  .Button {
    display: none;
  }
  .Icon {
    display: none;
  }
  .Nav_2 {
    display: none;
  }
}

@media (min-width: 810px) {
  .Card {
    height: 400px;
  }
  .Logo {
    padding: 4em;
    font-size: 2rem;
  }
  .Logo span {
    font-size: 2rem;
  }

  .Nav_2 {
    display: none;
  }

  .Nav_link_2 {
    display: none;
  }

  .Button {
    display: none;
  }

  .Search {
    font-size: 1.5rem;
  }
}
