.Card {
  position: relative;
  background-color: #fff;
}

.Logo {
  display: "inline-block";
  font-family: "Josefin Slab", serif;
  /* font-family: "Exo", sans-serif; */
  font-size: 2.5rem;
  color: #50506b;
  padding: 3em;
  text-align: center;
}

.Logo span {
  font-size: 2rem;
}

.Nav {
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 0 1em;
}

.Nav_link {
  display: inline-block;
  padding: 0.5em;
  text-decoration: none;

  font-size: 1rem;
  font-weight: 500;
  color: #50506b;
  letter-spacing: 2px;
}

.Nav_link:hover,
.Nav_link:focus {
  color: rgb(10, 186, 181, 0.5);
}

.Search {
  display: flex;
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-size: 1rem;
  margin: 1em;
}

.SearchInput {
  border: 0;
  transition: width 0.5s ease-in;
}

.SearchInput:focus {
  outline: none;
}

.Button {
  display: none;
}
@media (max-width: 810px) {
  .Logo {
    font-size: 2rem;
    padding: 2em;
  }
  .Logo span {
    font-size: 1.4rem;
  }

  .Nav_link {
    font-size: 0.8rem;
  }
}
@media (max-width: 570px) {
  .Logo {
    font-size: 1rem;
    padding: 1em 2em;
  }
  .Logo span {
    font-size: 0.7rem;
  }

  .Nav_link {
    display: none;
  }

  .Nav_2 {
    position: absolute;
    bottom: -4.2rem;
    left: 0;

    background: #fff;
    padding: 0.5rem;
  }
  .Nav_link_2 {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-bottom: 0.5em;

    font-size: 0.5rem;
    text-decoration: none;
    color: #50506b;
    letter-spacing: 2px;
    text-decoration: none;
  }

  .Nav_link_2:hover,
  .Nav_link_2:focus {
    color: rgb(10, 186, 181, 0.5);
  }

  .Button {
    display: block;
    margin: 0 1rem;
    color: #fff;
    border: transparent;

    position: absolute;
    left: 0;
    bottom: 0;
  }
  .Button:hover,
  .Button:focus {
    color: rgb(10, 186, 181, 0.5);
    outline: none;
  }
  .Search {
    font-size: 0.5rem;
    margin: 1em;
  }
}
