.Logo {
  background-color: white;
  height: 80%;
  box-sizing: border-box;
  border-radius: 5px;
}

.Logo input {
  height: 100%;
  cursor: pointer;
}

@media (min-width: 500px) {
  .Logo input {
    height: 0%;
    cursor: not-allowed;
  }
}
