.Ingredient {
  width: 100%;
  height: 100vh;
  margin: 30px auto;
}
.Column {
  display: flex;
  width: 95%;
  overflow: scroll;
  background-image: url("../../image/apple-blueberry.jpg");
}

.Card {
  background-color: #fff;
  width: 150px;
  padding: 18px;
  margin: 10px;
  margin-bottom: 20px;
}

.Img {
  width: 100%;
  height: 100vh;
  z-index: -10;
}

@media (max-width: 768px) {
  .Ingredient {
    margin: 90px auto;
  }

  .Card {
    margin: 10px;
  }
}
