.Toolbar {
  position: fixed;
  left: 0;
  top: 0;

  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 65px;

  background-color: #703b09;
  padding: 0 20px;
  margin: 0;

  box-sizing: border-box;
  z-index: 100;
}

.Toolbar nav {
  height: 100%;
}

.Logo {
  height: 80%;
}

@media (max-width: 499px) {
  .Desktop {
    display: none;
  }
}
