.Home {
  width: 95%;
  padding: 0;
  margin: 1rem auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Main {
  background: var(--clr-bcg-primary);
}

.Title {
  font-size: 1.5rem;
  padding: 1em 0;
  text-align: center;
  font-weight: 500;
}

@media (min-width: 570px) {
  .Home {
    flex-direction: row;
  }
  .Main {
    background: var(--clr-bcg-primary);
    width: 72%;
  }

  .Title {
    font-size: 2rem;
  }

  .Side {
    width: 25%;
  }
}
