.Home {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 20px auto;
}

.Column {
  display: flexbox;
  width: 20%;
  z-index: -2;
}

.ColumnLarge {
  display: flexbox;
  width: 30%;

  z-index: -2;
}

.Card {
  background-color: #fff;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

/* browser window is 768px wide or less */
@media (max-width: 768px) {
  .Home {
    margin: 5px auto;
  }
  .ColumnLarge {
    display: none;
  }

  .Column {
    width: 45%;
  }
  .Card {
    padding: 10px;
  }
}
