.Contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 2rem auto;
  width: 70%;
  height: 100vh;
}

@media (min-width: 810px) {
  .Contact {
    margin: 3rem auto;
    width: 50%;
  }
}
