.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0px 0.5rem;
}

.Nav_link {
  display: inline-block;
  padding: 0.5rem;

  font-size: 1.5rem;
  color: #565673;
  letter-spacing: 0.2px;
  text-decoration: none;
}

.Nav_link:hover {
  color: #5f9ea0;
}

.SocialBar {
  display: inline-block;
  padding: 0.5rem;
  color: "black";
}

@media (min-width: 810px) {
  .Header {
    margin: 0px 1rem;
  }
  .Nav_link {
    padding: 1rem;
  }

  .SocialBar {
    padding: 1rem;
  }
}
