.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0.5rem;
}

.Nav_link {
  display: inline-block;
  padding: 0.8em;
  margin: 0.8em;
  text-decoration: none;

  font-size: 0.8rem;
  color: #565673;
  letter-spacing: 2px;
}

.Nav_link:hover {
  color: #5f9ea0;
}

.SocialBar {
  display: inline-block;
  padding: 0.8rem;
  margin: 0.8rem;
  color: "black";
}

@media (max-width: 810px) {
  .Nav_link {
    font-size: 0.4rem;
  }

  .SocialBar {
    display: inline-block;
    padding: 0.4em;
    margin: 0.4em;
  }
}

@media (max-width: 570px) {
  .Nav_link {
    font-size: 0.2rem;
  }
}
