.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Nav_link {
  display: inline-block;
  padding: 1em;
  margin: 1em;
  text-decoration: none;

  font-size: 1rem;
  color: #565673;
  letter-spacing: 1.2px;
}

.Nav_link:hover {
  color: #5f9ea0;
}

.SocialBar {
  display: inline-block;
  padding: 1rem;
  margin: 1rem;
  color: "black";
}

@media (max-width: 768px) {
  .Nav_link {
    font-size: 0.4rem;
  }
  .SocialBar {
    display: inline-block;
    padding: 0.4em;
    margin: 0.4em;
  }
}

@media (max-width: 280px) {
  .Nav_link {
    font-size: 0.2rem;
  }
}
