.Side {
  background-color: #e9eaed;
  width: 100%;
}
.Card {
  background-color: #fff;
  width: 100%;
  padding: 1.3rem;
  margin-bottom: 1.3rem;
}

.Card strong {
  font-size: 1rem;
}
.SideBar {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  text-decoration: none;

  font-size: 0.8rem;
  color: #565673;
  letter-spacing: 1.2px;
  text-align: center;
}

.Nav_link {
  display: block;
  width: 80%;
  padding: 1rem 0;
  margin: 0 auto;
  border-bottom: 1px solid #e9eaed;
  text-decoration: none;

  font-size: 0.7rem;
  color: #565673;
  letter-spacing: 1.2px;
}

.Nav_link:hover,
.Nav_link:focus {
  color: rgb(10, 186, 181, 0.5);
}

/* browser window is 600px wide or less */
@media (max-width: 810px) {
  .Card {
    padding: 0.6rem;
    margin-bottom: 0.6rem;
  }

  .SideBar {
    font-size: 0.6rem;
  }

  .Nav_link {
    padding: 1em 0;
    border-bottom: 1px solid #e9eaed;
    font-size: 1rem;
  }
  .Card strong {
    font-size: 1.2rem;
  }
}
