.Post_category {
  font-size: 14px;
  margin: 10px 0;
  text-align: center;
}
.Post_title {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 0;
  text-transform: capitalize;
  text-align: center;
}
.Post_by {
  font-family: "Kalam", cursive;
  font-style: italic;
  padding: 10px 0;
  font-size: 15px;
  text-align: center;
}

.Post_content {
  margin: 10px auto;
  width: 85%;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 35px;
}

.Img {
  width: 100%;
  margin: 10px auto;
}

.Intro {
  width: 90%;
  padding: 5px 0;
  margin: auto;
  font-size: 10px;
  color: #565673;
  letter-spacing: 1px;
}
.Nav_link {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  text-decoration: none;

  font-size: 14px;
  font-weight: 500;
  color: #565673;
  letter-spacing: 1.2px;
  text-align: center;
}
.Nav_link i {
  cursor: pointer;
}

.Typing {
  display: inline;
}
@media (max-width: 810px) {
  .Post_category {
    font-size: 14px;
    margin: 10px 0;
    text-align: center;
  }
  .Post_title {
    font-size: 20px;
    font-weight: 300;
  }
  .Post_by {
    padding: 8px 0;
    font-size: 8px;
  }

  .Post_content {
    margin: 10px auto;
    width: 80%;
    font-size: 10px;
    line-height: 15px;
  }

  .Nav_link {
    font-size: 10px;
  }
  .Intro {
    display: none;
  }
}
