.Post_category {
  font-size: 14px;
  margin: 10px 0;
  text-align: center;
}
.Post_title {
  font-family: "Rancho", cursive;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0;
  text-transform: capitalize;
  text-align: center;
}
.Post_by {
  font-family: "Kalam", cursive;
  font-style: italic;
  padding: 10px 0;
  font-size: 15px;
  text-align: center;
}

.Post_content {
  margin: 10px auto;
  width: 85%;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 35px;
}

.Img {
  width: 100%;
  margin: 10px auto;
}

.Intro {
  width: 90%;
  padding: 5px 0;
  margin: auto;
  font-size: 10px;
  color: #565673;
  letter-spacing: 1px;
}
.Nav_link {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;

  font-size: 14px;
  color: #565673;
  letter-spacing: 1.2px;
}
