.Post_category {
  font-size: 1rem;
  margin: 0.8rem 0;
  text-align: center;
}
.Post_title {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 0;
  text-transform: capitalize;
  text-align: center;
}
.Post_by {
  font-family: "Kalam", cursive;
  font-style: italic;
  padding: 1em 0;
  font-size: 1rem;
  text-align: center;
}

.Post_content {
  margin: 0.8rem auto;
  width: 85%;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 2.5rem;
}

.Img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.Intro {
  width: 90%;
  padding: 0.5em 0;
  margin: auto;
  font-size: 0.8rem;
  color: #565673;
  letter-spacing: 1px;
}
.Nav_link {
  display: inline-block;
  width: 100%;
  margin: 0 auto;

  text-decoration: none;

  font-size: 1rem;
  font-weight: 500;
  color: #565673;
  letter-spacing: 1.2px;
  text-align: center;
}
.Nav_link i {
  cursor: pointer;
}

.Nav_link:hover,
.Nav_link:focus {
  color: rgb(10, 186, 181, 0.5);
}

.Typing {
  display: inline;
}
@media (max-width: 810px) {
  .Post_category {
    font-size: 0.8rem;
    margin: 0.6rem 0;
    text-align: center;
  }
  .Post_title {
    font-size: 1.3rem;
    font-weight: 300;
  }
  .Post_by {
    padding: 1em 0;
    font-size: 0.5rem;
  }

  .Post_content {
    margin: 1em auto;
    width: 80%;
    font-size: 0.7rem;
    line-height: 1rem;
  }

  .Nav_link {
    font-size: 1rem;
  }
  .Intro {
    display: none;
  }
  .Img {
    width: 50%;
    margin: 1rem auto;
  }

  .Nav_link i {
    font-size: 1rem;
  }
}
