.Article {
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  border-bottom: 0.1rem solid var(--clr-bcg-primary);
}

.ArticleMain {
  width: 100%;
}

.Author {
  display: block;
  width: 100%;
  text-align: end;
  font-size: 0.8rem;
}
.Title {
  text-align: center;
  font-size: 1.3rem;
  padding: 1em 0;
}

.ArticleMain p {
  padding: 1rem 0;
  font-size: 1.2rem;
  line-height: 1.5em;
}

.ArticleAnchor {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  background-color: transparent;
  color: var(--clr-font-thirdly);

  border: transparent;
  outline: none;
}

.ArticleAnchor:hover,
.ArticleAnchor:focus {
  color: var(--clr-font-thirdly);
}

.ArticleImage {
  max-width: 100%;
  display: block;
  opacity: 0.3;
}

@media (min-width: 810px) {
  .Article {
    padding: 2.5rem;
  }
  .Title {
    text-align: center;
    font-size: 1.5rem;
  }

  .ArticleMain p {
    padding: 1rem;
    font-size: 1.3rem;
    line-height: 1.5em;
  }

  .ArticleMain strong {
    font-size: 1.6rem;
  }

  .ArticleAnchor {
    font-size: 1.1rem;
    font-weight: 600;
  }
}
