* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.App {
  width: 98%;
  max-width: 1024px;

  margin: 0 auto;
  border: 1px solid transparent;

  background-color: #e9eaed;
  font-family: "Open Sans Condensed", sans-serif;
}
